version: "3.9"

services:
  amazon-bot:
    image: amazon-photo-bot
    build: .
    container_name: amazon-photo-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      - ./bot.log:/app/bot.log
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
